
body {
  font-size: 15px;
  line-height: 1.2em;
  background-color: #0D71FF;
  font-family: "courier", courier;
  font-weight: normal;
  color: white;
  box-sizing: border-box;
  width: 100%;
  min-width: 400px;
}

.main{
  display: inline-block;
  border: 1px dashed white;
  margin: .4rem;
}

.holder{
  border: 1px dotted white;
  position: relative;
  min-width: 100%;
}

.gw-listview{
  margin: 1rem;
  position: relative;
}

.car-img{
  float: left;
  margin-right: 1rem;
  border: 4px double white;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  box-sizing: border-box;
  /*width: 100%;*/
}

.sorted-by{
  border: 1px dashed white;
}

tr {
  text-align: center;
}

td, th {
  text-align: left;
  padding: .4rem;
}

tr:nth-child(4n+1){
  background-color: #0D71DD;
}

tr:nth-child(4n+2){
  background-color: #0D71DD;
}

tr:hover{
  background-color: deeppink;
}

tr.selected-row {
  padding-top: 1rem;
  border-top: 1px dashed white;
  background-color: white;
  color: #0D71FF;
}

tr.extra-row{
  border-bottom: 1px dashed white;
  background-color: white;
  color: #0D71FF;
}

.icon{
  border-radius: 12px;
}

.expanded-content{
  display: block;
  text-align: center;
  height: auto;
  min-height: 6rem;
}

.gw-listview-collapser{
  position: absolute;
  right: .4rem;
  top: .4rem;
}

.visibility-hidden{
  visibility: hidden;
}

.visibility-visible{
  visibility: visible;
}

.visibility-collapse{
  visibility: collapse;
}